/*-----------------------------------------------------------------------------
Microformats / jQuery / YQL Contact Details Demo Screen Stylesheet

version:   1.0
date:      16/02/09
author:    george ornbo
email:     george [at] shapeshed.com
website:   http://shapeshed.com

-----------------------------------------------------------------------------*/

/* Reset
Eric Meyer's Reset - http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
-----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* Set up the document
-----------------------------------------------------------------------------*/
body
	{
	font: 75%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
	color: #000;	
	text-align:center;
	background:#333 url(../images/backgrounds/wrapper.png) no-repeat scroll right bottom;
}
#wrapper
	{ 
	width: 960px; /* Set page width here - you can also use percentage */
	text-align:left;  
	margin-left:auto; 
	margin-right:auto; 
	margin-top: .75em;
	margin-bottom: 1.5em;
	padding: 10px;
	background: #FFFFFF;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
/* Typography
-----------------------------------------------------------------------------*/
/* 
This sets up a vertical rhythm for the page typography 
Image replacement technique for the logo 
Change the dimensions on the H1 to the dimensions of your logo
*/
h1
	{ 
	font-size: 1em;
	margin-bottom: 1.5em; /* margin-bottom = 18pt */
}	
h2 {
	font-size: 1.6666666666666667em; /* 20 pt */
	line-height: 0.9em; /* 20 * line-height = 18pt */
	margin-bottom: 0.9em; /* 20 * margin-bottom = 18pt */
}
h3 {
	clear: left;
	font-size: 1.5em; /* 18 pt */
	line-height: 1em; /* 18 * line-height = 18pt */
	margin-bottom: 1em; /* 18 * margin-bottom = 18pt */
}
h4 {
	font-size: 1.3333333333333333em; /* 16 pt */
	line-height: 1.125em; /* 18 * line-height = 18pt */
	margin-bottom: 1.125em; /* 18 * margin-bottom = 18pt */
}
h5 {
	font-size: 1.1666666666666667em; /* 14 pt */
	line-height: 1.2857142857142858em; /* 18 * line-height = 18pt */
	margin-bottom: 1.2857142857142858em; /* 18 * margin-bottom = 18pt */
}
h6 {
	font-size:1em; /* 12 pt */
	line-height: 1.5em; /* 18 * line-height = 18pt */
	margin-bottom: 1.5em; /* 18 * margin-bottom = 18pt */
}	
p, q, cite, address
	{
	font-size:1em; /* 12 pt */
	line-height: 1.5em; /* 18 * line-height = 18pt */
	margin-bottom: 1.5em; /* 18 * margin-bottom = 18pt */
}
ul, ol, dl
	{
	font-size: 1em; /* Equivalent to 12pt */
	margin-bottom: 1.5em; /* margin-bottom = 18pt */
}
li, dd, dt
	{
	font-size: 1em; /* Equivalent to 12pt */	
}
a
	{
	border-bottom: 1px dotted #3333cc;
	text-decoration: none;
	color: #3333cc;
	outline:none;
}
a:hover
	{
	border-bottom: none;
	color: #3333cc;	
}
code, samp, dfn, kbd, var, acronym, ins, del
	{

}
abbr {
	speak: spell-out;
}

acronym {
	speak: normal;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer{
	clear:both;
}


/* Homepage
-----------------------------------------------------------------------------*/
ul.links{
	list-style: none;
}
ul.links li{
	display: block;	
	margin-bottom: 1.5em;
	float: left;
	margin-right: 10px;
	padding-left:20px;
	background:transparent url(../images/icons/16x16/microformats.png) no-repeat scroll left center;
}
.twitter a
	{
	padding-left: 40px;
	padding-top: 10px;
	min-height: 32px;
	background:transparent url(../images/backgrounds/twitter-32x32.png) no-repeat left center;	
	border-bottom: 0;
	display: block;
	float: right;
	margin-top: -10px;
}
#footer p
	{
	text-align: left;	
}

/* Your template
-----------------------------------------------------------------------------*/


/* Forms
-----------------------------------------------------------------------------*/
form#mf-url-form	
	{
	width: 400px;
	float: left;
	padding: 20px;
	background: #ffcc66;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;	
}
form#mf-url-form input.text
	{
	margin-top: .75em;
	width: 380px;
	font-size: 1.6666666666666667em; /* 20 pt */
	line-height: 0.9em; /* 20 * line-height = 18pt */
	margin-bottom: 0.9em; /* 20 * margin-bottom = 18pt */
	color: #333;
}

form#mf-url-form label, form#vcard legend
	{
	display: none;	
}

form#mf-url-form input.submit
	{
	float: right;
	font-size: 1.3333333333333333em; /* 16 pt */
	line-height: 1.125em; /* 18 * line-height = 18pt */
}

form#vcard
	{
	width: 450px;
	float: right;	
	background: #ffcc66;
	padding: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}

form
	{
	margin-bottom: 1.5em;	
}

fieldset
	{
	border: none;	
	padding: 0.25em; /* 3px */
}
label
	{
	width: 200px;
	clear: left;
	float: left;
	margin-bottom: 1.5em;	
}
input.button, input.checkbox, input.file, 
input.password, input.radio, input.reset,
input.text, input.submit, textarea
	{
	float: left;	
}
input.file, input.password, input.text
	{
	width: 200px;
	border: 1px solid #ccc;	
	padding: 0.25em;
}
input.submit
	{
	margin-left: 20px;
}
textarea
	{
	width: 200px;
	border: 1px solid #ccc;	
}















