/*-----------------------------------------------------------------------------
CSS - Curved Edges in CSS

version:   1.0
date:      28/01/07
author:    george ornbo
email:     george at shapeshed dot com
website:   http://www.shapeshed.com
-----------------------------------------------------------------------------*/

/* Rebase all elements to 0 margin and padding
-----------------------------------------------------------------------------*/

*
	{
	margin: 0px;
	padding: 0px;
}

/* Define font and set default document font size to 10pt for browsers with
default font setting. 
-----------------------------------------------------------------------------*/

body
	{
	font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
	color: #333366;	
	text-align:center;
}

#wrapper
	{ 
	width:1000px; 
	text-align:left;  
	margin-left:auto; 
	margin-right:auto; 
	background-color: #FFFFFF;
	padding-bottom: 10px;
	}
	
/* Define typography sizing for HTML elements
-----------------------------------------------------------------------------*/	

h1
	{
	padding: 10px;	
	font-size: 2.2em;
	font-family: georgia, verdana, serif;
}
	
h2
	{	
	font-size: 2.0em;	
}
	
h3
	{
	font-size: 1.8em;

}
	
h4
	{
	font-size: 1.6em;	
}
	
h5
	{
	font-size: 1.4em;	
}
	
p
	{
	margin: 10px;
	font-size: 1.2em;	
}


code
	{
	 margin: 10px;	
	 padding: 10px 10px 10px 6px;
	 font-size: 1.2em;
	 background: #fff;
	 border-left: 4px solid #ff9900;
	 border-top: 1px solid #cccccc;
	 border-bottom: 1px solid #cccccc;
	 border-right: 1px solid #cccccc;
	 display: block;
}


.curved-box
	{
	width: 298px;
	margin: 10px;
	background-color: #c3d0d4;
}

.curved-box h2
	{
	background: #c3d0d4 url(../images/curve_top.png) no-repeat left top;
	color: #f4fbfd;
	padding: 10px 15px 5px 15px;
}

.curved-box p
	{
	background: #c3d0d4 url(../images/curve_bottom.png) no-repeat left bottom;
	margin: 0px;
	padding: 5px 15px 10px 15px;
	text-align: left;
}

.curved-box-css3
	{
	width: 298px;	
 	margin: 10px;
	-webkit-border-radius: 10px; /* Webkit - Safari prototype */
	-moz-border-radius: 10px; /* Gecko browsers */
	border-radius: 10px; /* Everything else */
	background-color: #c3d0d4;
}

.curved-box-css3 h2
	{
	padding: 10px 15px 5px 15px;	
	color: #f4fbfd;
}

.curved-box-css3 p
	{
	margin: 0px;
	padding: 5px 15px 10px 15px;	
}

	




