/*-----------------------------------------------------------------------------
Hcard example stylesheet

version:   1.0
date:      13/01/07
author:    george ornbo
email:     george at shapeshed dot com
website:   http://www.shapeshed.com
-----------------------------------------------------------------------------*/



body
	{
	font: 76%/150%  "Lucida Grande", "Lucida Sans", "Trebuchet MS", Tahoma, Verdana, sans-serif;
	color: #333366;
	}
	

